<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Todos</title>
    <%- include('./partials/header-style.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container text-center">
      <img id="brandImage" class="img-fluid" src="/assets/images/Todo.png" />
      <span id="brandText" class="h1">TODOS DASHBOARD</span>
    </div>
    <%- include('./partials/footer-script.ejs') %>
  </body>
</html>
